.vs/
/madera.madera/bin
/madera.madera/obj
/madera.Android/bin
/madera.Android/obj
/madera.iOS/bin
/madera.iOS/obj
/madera.MobileAppService/bin
/madera.MobileAppService/obj
/madera.Test/bin
/madera.Test/obj